.subcc .games_category{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: none;  /*!(flex / none)*/
    justify-content: center;
    /**/
    align-content: center;
    align-items: center;
    /**/
    flex-wrap: wrap;
}
.subcc .games_category p{
    color: var(--Dominan_Color--);
    font-size: 3em;
    font-family: var(--Dominan_fontFamily--);
}